@{
    ViewBag.Title = "Main Page";
}

<div class="col">

    @foreach (HereWeApp.Models.SomeEventViewModel item in Model)
    {
        <div class="col-md-4">
            <h2>@item.Description</h2>
            <p>
                in @item.Countdown.Minutes minutes
            </p>
        </div>
    }

</div>